/* Variáveis para cores */
:root {
  --bg-dark: #ffffff; /* Novo fundo claro */
  --bg-sidebar: #e7e7e7; /* Novo fundo claro para a barra lateral */
  --bg-input: #fefefe; /* Novo fundo claro para inputs */
  --bg-twitter: #1da1f2;
  --bg-twitter-hover: #0d8bf2;
  --bg-red-twitter: #e0245e;
  --bg-red-hover: #c72052;
  --color-dark: #333; /* Novo texto escuro */
  --color-light: #ffffff; /* Cor de texto preto */
  --color-light-grey: #ccc;
}

/* Estilos para o corpo da página */
body {
  margin-left: 100px;
  margin-right: 20px;
  background-color: var(--bg-dark);
  color: var(--color-light);
}

/* Estilos para a barra lateral */
.container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: #d3d3d3;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 3;
}

.sidebar.expandido {
  width: 250px;
  z-index: 2;
}

.sidebar .dados,
.sidebar .botoes,
.sidebar .logo {
  display: none;
}

.sidebar.expandido .dados,
.sidebar.expandido .botoes,
.sidebar.expandido .logo {
  display: block;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: var(--bg-twitter);
  margin-bottom: 20px;
}

.perfil {
  margin-bottom: 30px;
}

.dados {
  margin-top: 20px;
}

.nome,
.email {
  margin-bottom: 10px;
}

.nome {
  margin-top: 70px;
}

.info {
  font-size: 16px;
  color: var(--color-dark);
}

.sidebar .perfil-imagem {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

#toggleButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  padding: 8px 12px;
  background-color: var(--bg-twitter);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.sidebar.expandido #toggleButton {
  display: block;
}

#toggleButton:hover {
  background-color: var(--bg-twitter-hover);
}

/* Estilos para os títulos */
.titulo {
  font-size: 24px;
  font-weight: bold;
  color: var(--bg-twitter);
  margin-bottom: 20px;
}

/* Estilos para o conteúdo */
.content {
  flex: 1;
  padding: 20px;
}

/* Estilos para botões */
.button, .nav-button, .modal-content button, #localBotaoUpgrade button, header button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-twitter);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.button:hover, .nav-button:hover, .modal-content button:hover, #localBotaoUpgrade button:hover, header button:hover {
  background-color: var(--bg-twitter-hover);
}

.button-logout {
  background-color: var(--bg-red-twitter);
}

.button-logout:hover {
  background-color: var(--bg-red-hover);
}

header button {
  background-color: var(--bg-red-twitter);
}

header button:hover {
  background-color: var(--bg-red-hover);
}

/* Estilos para o botão de exclusão */
.delete-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: var(--bg-red-twitter);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: var(--bg-red-hover);
}

/* Estilos para modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--bg-input);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: var(--color-light);
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para input no modal */
.modal-content input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--bg-input);
  color: var(--color-light);
}

/* Estilos para o cabeçalho */
header {
  background-color: var(--bg-dark);
  color: var(--color-light);
  padding: 20px;
  text-align: center;
}

header h1 {
  color : #000000;
  margin: 0;
}

/* Estilos para as seções */
section {
  background-color: var(--bg-sidebar);
  color: var(--color-light);
  padding: 20px;
  margin-top: 20px;
}

section h2 {
  margin-bottom: 10px;
  color: #000000;
}

/* Estilos para labels */
label {
  display: block;
  margin-top: 10px;
}

/* Estilos para inputs */
input[type="text"], input[type="number"], input[type="month"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para resumo */
#resumo {
  background-color: var(--bg-input);
  color: var(--color-light);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

#resumo p {
  margin-bottom: 10px;
}

#resumo span {
  font-weight: bold;
}

/* Estilos para lista de gastos */
#gastos-mes-selecionado ul {
  list-style-type: none;
  padding: 0;
}

#gastos-mes-selecionado li {
  margin-bottom: 10px;
}

.imagem-abaixo-botao {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.logo {
  background-color: #333333;
}

/* Estilos para o formulário */
#form {
  display: flex;
}

#principal, #principal2, #secundario, #secundario2 {
  background-color: var(--bg-sidebar);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  flex: 1;
  color: var(--color-dark);
}

#principal h2, #principal2 h2, #secundario h2, #secundario2 h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #000000;
}

#principal label, #principal2 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#principal input, #principal2 input {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  background-color: var(--bg-dark);
  color: var(--color-dark);
  font-size: 1em;
}

#principal input[type="month"], #principal2 input[type="month"] {
  width: 100%;
}

#principal button, #principal2 button {
  width: 100%;
  padding: 15px;
  background-color: var(--bg-twitter);
  border: none;
  border-radius: 5px;
  color: var(--color-light);
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

#principal button:hover, #principal2 button:hover {
  background-color: var(--bg-twitter-hover);
}

#secundario ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#secundario ul li {
  margin-bottom: 10px;
}
