body {
  margin-left: 100px;
  margin-right: 20px;
}

.container {
  display: flex;
}

.sidebar {
  width: 50px;
  height: 100vh;
  background-color: #d3d3d3;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease, height 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.sidebar.expandido {
  width: 250px;
  z-index: 2;
}

#toggleButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  padding: 8px 12px;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.sidebar.expandido #toggleButton {
  display: block;
}

#toggleButton:hover {
  background-color: #0d8bf2;
}

.perfil-imagem {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.sidebar .dados,
.sidebar .botoes,
.sidebar .logo {
  display: none;
}

.sidebar.expandido .dados,
.sidebar.expandido .botoes,
.sidebar.expandido .logo {
  display: block;
}

.swal2-container {
  z-index: 4;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #1da1f2;
  margin-bottom: 20px;
}

.perfil {
  margin-bottom: 30px;
}

.dados {
  margin-top: 20px;
}

.nome,
.email {
  margin-bottom: 10px;
}

.nome {
  margin-top: 70px;
}

.info {
  font-size: 16px;
}

.button, .nav-button, .modal-content button, #localBotaoUpgrade button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.button:hover, .nav-button:hover, .modal-content button:hover, #localBotaoUpgrade button:hover {
  background-color: #0d8bf2;
}

.nav-button {
  margin-bottom: 10px;
  text-align: center;
}

.button-logout {
  background-color: #e0245e;
}

.button-logout:hover {
  background-color: #c72052;
}

.content {
  flex: 1;
}

.content h2, #avisosPagamento {
  text-align: center;
}

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
}

#info > div {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e7e7e7;
  transition: all 0.3s ease;
}

#info > div:hover {
  transform: scale(1.05);
}

#navbuttons {
  display: flex;
  justify-content: center;
}

.nav-button {
  margin: 0 10px;
}

#listaAvisosPagamento {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#listaAvisosPagamento li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-content input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.card {
  border-radius: 8px;
  padding: 16px;
  margin: 10px 5px;
  width: calc(30% - 10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.card.visible {
  background-color: #cacaca;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.card-body {
  margin-bottom: 8px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pago-btn,
.cobrar-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pago-btn {
  background-color: #4CAF50;
  color: #ffffff;
  margin-top: 10px;
  margin-right: 10px;
}

.cobrar-btn {
  background-color: #e0245e;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 10px;
}

.imagem-abaixo-botao {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.logo {
  background-color: #333333;
}

@media (max-width: 1200px) {
  .card {
    width: calc(45% - 10px);
  }
}

@media (max-width: 768px) {
  .card, #info > div {
    width: calc(100% - 20px);
  }
  #listaAvisosPagamento {
    flex-direction: column;
    align-items: center;
  }
}
